RewriteEngine On
RewriteBase /Portfolio

# Verifica se o arquivo não é um diretório
RewriteCond %{REQUEST_FILENAME} !-d

# Verifica se o arquivo com a extensão .php existe
RewriteCond %{REQUEST_FILENAME}.html -f

# Redireciona todas as requisições para o arquivo PHP correspondente
RewriteRule ^(.*)$ $1.html [L]